<%- include("partials/header") %>
<center><h1>Bounty leaflet of One Piece</h1></center>
<center>,<img src="https://cdn.majorcineplex.com/uploads/content/images/thumb_5151.jpg" width = "1000px"></center>
<center><a href = "/index">View Bounty leaflet</a></center>
<%- include("partials/footer") %>