<%- include("partials/header") %>
    <body class="home">
        <div class="jumbotron ground home" style="margin-left: 50px;margin-right: 50px;margin-top: 50px;">
            <div style="float: right;"><a href="">ENGLISH LESSON</a><a href="">ENGLISH MAP LESSON</a></div>
            <div><h1 id="text1">TRAIN</h1></div>
            <div><h1 id="text1">TO</h1></div>
            <div><h1 id="text1">ENGLISH</h1></div>
            <div>
                <a class="btn btn-primary" style="background: violet;border-color: violet;" href="#" role="button">  LOGIN  </a>
                <a class="btn btn-outline-light" href="#" role="button">NOT A TTE STUDENT</a>
            </div>
        </div>
<%- include("partials/footer") %>