<%- include("partials/header") %>
    <body class="home">
        <div class="jumbotron ground home">
            <div style="float: right;"><a href="">ENGLISH LESSON</a><a href="">ENGLISH MAP LESSON</a></div>
            <div><h1 id="textHead">TRAIN</h1></div>
            <div><h1 id="textHead">TO</h1></div>
            <div><h1 id="textHead">ENGLISH</h1></div>
            <div>
                <a class="btn btn-primary" style="background: violet;border-color: violet;" href="/login" role="button">  LOGIN  </a>
                <a class="btn btn-outline-light" href="/signup" role="button">NOT A TTE STUDENT</a>
            </div>
        </div>
<%- include("partials/footer") %>