<%- include("partials/header") %>
    <body class="home">
        <div class="jumbotron ground home">
            <p style="float: right;"><a href="/">HOME</a></p>
            <p id="textHead">REGISTER</p>
            <p>
            <form class="textColur" style="width: 30%;" action = '/signup' method = 'POST'>
                <div class="form-group">
                    <label class="textColur" for="firstName">FIRSTNAME</label>
                    <input type="text" class="form-control" name="firstName" required>
                </div>
                <div class="form-group">
                    <label class="textColur" for="lastName">LASTNAME</label>
                    <input type="text" class="form-control" name="lastName" required>
                </div>
                <div class="form-group">
                    <label class="textColur" for="userName">USERNAME</label>
                    <input type="text" class="form-control" name="username" required>
                </div>
                <div class="form-group">
                    <label class="textColur" for="password">PASSWORD</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <div class="form-group">
                    <label for="comfirmPassword">COMFIRM PASSWORD</label>
                    <input type="password" class="form-control" name="Cpassword" required>
                </div>
                <div class='container' style="text-align: center;">
                    <% if (error && error.length > 0) { %>
                      <div class="alert alert-danger" role="alert">
                        <%= error %>
                      </div>
                    <% } %>
                    <% if (success && success.length > 0) { %>
                      <div class="alert alert-success" role="alert">
                        <%= success %>
                      </div>
                    <% } %>
                </div>
                <center><button style="background: #a48ed2;border-color: white;" type="submit" class="btn btn-primary">REGISTER</button></center>
              </form>
            </p>
        </div>
<%- include("partials/footer") %>