<%- include("../partials/header") %>
<body class="home">
    <div class="jumbotron ground home">
        <div class = "row" >
            <div class="col-md-3 col-sm-6">
                <p> </p>
                <h3 class="textColur">Welcome <%= currentUser.firstname %> status <%= currentUser.username %></h3>
                <a href='/logout'>Log out</a>
            </div>
        </div>
    </div>
<%- include("../partials/header") %>