.home{
    
    background: #a48ed2;
    background: linear-gradient(top, #a48ed2 0%, #f6bfea 100%);
    background: -webkit-linear-gradient(top, #a48ed2 0%, #f6bfea 100%);
    background: -moz-linear-gradient(top, #a48ed2 0%, #f6bfea 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ground{
    box-shadow: 25px 0px 20px 0px rgba(50, 50, 50, .5), -25px -25px 35px 0px rgba(50, 50, 50, .3);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

#colum1{
    float: left;
    width: 40%;
    padding: 20px;
}

#colum2{
    float: left;
    width: 60%;
    padding: 20px;
}

.textColur{
    color: white;
    font-weight: bold;
}

#textHead{
    color: white;
    font-weight: bolder;
    font-size: 50px;
    margin-left: 12px;
}

a:link, a:visited {
    color: white;
    text-decoration: underline;
    margin: 10px;
  }

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}