<%- include("../partials/header") %>
<body class="home">
    <div class="jumbotron ground home">
        <h2 id="textHead">RESET PASSWORD</h2>
        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <a href="/TTE">Home</a>
              <a href="#">About</a>
              <a href="/logout">Log out</a>
            </div>
        </div>
        <form class="textColur" style="width: 100%;" action="/TTE/profile/edit/reset-password" method="POST" >
            <div class="form-group">
                <label class="textColur" for="oldpassword">OLD PASSWORD</label>
                <input type="password" class="form-control" name="oldpassword">
            </div>
            <div class="form-group">
                <label class="textColur" for="newpassword">NEW PASSWORD</label>
                <input type="password" class="form-control" id="p" name="newpassword">
            </div>
            <div class="form-group">
                <label class="textColur" for="CNpassword">CONFIRM NEW PASSWORD</label>
                <input type="password" class="form-control" id="Cp" name="CNpassword">
            </div>
            <div class='container' style="text-align: center;" id="divCheckPasswordMatch">
                    
            </div>
            <div class='container' style="text-align: center;">
                <% if (error && error.length > 0) { %>
                  <div class="alert alert-danger" role="alert">
                    <%= error %>
                  </div>
                <% } %>
                <% if (success && success.length > 0) { %>
                  <div class="alert alert-success" role="alert">
                    <%= success %>
                  </div>
                <% } %>
            </div>
            <div align="center">
                <button id="b" style="background: #a48ed2;border-color: white;" type="submit" class="btn btn-primary">SUBMIT</button>
                <a href="/TTE/profile/edit" class="btn btn-primary" style="background: #a48ed2;border-color: white;">CANCEL</a>
            </div>
        </form>
    </div>
<%- include("../partials/footer") %>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
      $("#Cp").keyup(function(){
        var password = $("#p").val();
        var confirmPassword = $("#Cp").val();
        if (password != confirmPassword){
          $("#b").attr("disabled",true);
          $("#divCheckPasswordMatch").html('<div class="alert alert-danger" role="alert">Passwords do not match!</div>');
        } else {
          $("#b").attr("disabled",false);
          $("#divCheckPasswordMatch").html('<div class="alert alert-success" role="alert">Passwords match.</div>');
        }
      });
  });
</script>